* {
	font-family: cursive;
}

p[align="center"] {
	color: #00FF00;
	font-size: 32px;
}

.span1 {
	font-style: italic;
	text-transform: uppercase;
}

li:nth-child(even) {
	color: #FF0000;
}

<p> + .span1 {
	style-family: 'Times', 'Times New Roman', 'Georgia', 'Serif';
	font-size: 18px;
}

.css1 {
	list-style-type: disc;
}

[id=mira] {
	list-style-type: square;
}

a {
	color: inherit;
}

a:hover {
	color: #00FFFF;
}

.css1 > a {
	text-decoration-style: dashed;
}

[id=ul1] .css1 {
	font-weight: bolder;
}